Reading/Writing for HttpRequest/HttpResponse

I'm currently working on an implementation of the AS2 protocol ([RFC4130](http://www.rfc-base.org/txt/rfc-4130.txt)) which is Mime messages over HTTP.

I've seen your FAQ on how to parse multipart/form-data. But how would you suggest parsing all the headers from the request not just the Content-Type.
How would this impact the ability to meet section 7.3.1 of RFC4130, which is to do with calculating a MIC. 

Secondly I'm able to build the the Mime message response (Message Disposition Notification) but am coming up with the issue of writing the message to the response.
But the issue (as you probably already know based on your comments in the FAQ) is that the response  stream is just the body, and the headers are controlled by the HttpContentHeaders (because im using web api).

What would be your suggestion on how to modify the MimeMessage.WriteTo(..) to support writing the correct headers out to the Response headers and then the body out to the Response stream.


When reading, what you'll have to do is implement some logic to write out the Content headers to a stream, followed by a blank line, and then followed by the content of the HTTP response. Once you've written all of that to a stream, reset the stream position back to 0 and pass it to `MimeEntity.Load()`.

When writing the message response back out, you'll need to write it to a stream, then search for `"\r\n\r\n"` which will mark the end of the headers. Then write the blob of bytes that exist after that point.