MimeMessage.Sender is an InternetAddressList, expected: InternetAddress

RFC-5322 section 3.6.2 defines the From and Sender headers. From is a list of authors, Sender is the transmitting author. Sender is required anytime From has more than one author. 

In MimeKit, is Sender implemented as a list because it needs to support things that don't comply with RFC-5322?
